
header{

    background-color: black;
    color: white;
    text-align: center;
    padding:10px;
}

footer{

    background-color: lightgray;
}

.container{
    
    display: flex; /*mettre les éléments côte à côte*/
    justify-content: space-evenly;
}

.nomVille {
    display: flex;
    background-color: lightgray;
    margin-bottom: 20px;
    text-align: center;
    flex-grow: 1;
    
}

.nomVille h2,p,img {
    margin: 35px; /* ajout d'un espace entre les éléments  */
}


